* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 980px;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    width: 980px;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: #818181;
}